@page
@model CatMash.App.Pages.ResultsModel
@{
    ViewData["Title"] = "Results";
}

<h1>Voting Results</h1>

@foreach (var image in Model.Images)
{
    <div class="row text-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="@image.Url" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            Votes: @image.Votes
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @((float)image.Votes/(float)Model.MaxVotes * 100.0)%" aria-valuenow="@image.Votes" aria-valuemin="0" aria-valuemax="@Model.MaxVotes"></div>
            </div>
        </div>
    </div>
}
